.nav1-items{
    position: absolute;
    right: 0 !important;
    z-index: 2;
    margin-top: 60px;
    clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%) !important;
    padding: 8px 30px !important;
    font-size: 14px;
}

  /* Ensure Navbar Text Visibility */
  .navbar-brand,
  .nav-link {
    color: #000; /* Default text color */
  }

  .nav-link:hover {
    color: #007bff; /* Bootstrap primary color for hover */
  }

.dept-head{
  clip-path: polygon(0% 0, 80% 0, 100% 100%, 0 100%) !important;
}



@media (max-width: 1200px) {
  #menu-toggle {
    display: block;  /* Show hamburger */
  }
  #menu {
    display: none;   /* Hide nav items */
  }
}


@media (max-width: 380px) {
    .nav1{
        font-size: 10px;
    }
    .nav1-items {
        font-size: 10px;
        padding: 5px 10px !important;
        margin-top: 70px;
    }
}